/* *{
    background:  linear-gradient(135deg, #42e695, #3bb2b8);
} */
body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    text-align: center;
    background:  linear-gradient(135deg, #42e695, #3bb2b8);

}
ul {
    list-style: none;
    padding: 0;
}


header {

    background-color: #333;

    padding: 10px;

    color: white;

}



nav ul {

    list-style: none;

    padding: 0;

}



nav ul li {

    display: inline;

    margin: 0 15px;

}



nav ul li a {

    color: white;

    text-decoration: none;

}



section {

    margin-top: 20px;

}